@import url('https://fonts.googleapis.com/css?family=Roboto');

.h5p-content {
    width: 600px !important;
    border: 0 !important;
    font-family: 'Roboto', sans-serif !important;
    font-style: normal;
    font-weight: normal;
}

.h5p-dataHUB-container {
    font-family: 'Roboto', sans-serif !important;
    width: 600px;
    /*height: 600px;*/
    height: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    /*padding-bottom: 30px;*/

    background: url("assets/cream_dust.png");
}

.h5p-dataHUB-container .wrapper {
    width: 1200px;
    /*height: 600px;*/
    margin: 16px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0px;
}

.h5p-dataHUB-container .pollView {

    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 536px;
    /*height: 600px;*/
    height: auto;
}

.h5p-dataHUB-container .resultView {

    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 536px;
    /*height: 600px;*/
    height: auto;
    margin-left: 128px;
    position: relative;

}

.h5p-dataHUB-container .resultView:before {

    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("http://localhost:8888/wp-content/uploads/2017/05/loading-big-1.gif");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;

}

.h5p-dataHUB-container .resultView.loaded:before {

    background-image: none;

}

.h5p-dataHUB-container .question-image {
    width: 100%;
    height: auto;
}

.h5p-dataHUB-container .question {
    width: 100%;
    margin: 0px 16px 10px;
    font-size: 20px;
    text-align: center;
    line-height: 1.66 !important;
}

.h5p-dataHUB-container .flag {
    width: 27px;
    height: 16px;
}

.h5p-dataHUB-container .answer {
    width: 100%;
    margin: 5px 16px;
    font-size: 13px !important;
    font-weight: 100;
    text-align: center;
    height: 50px;
    background-color: #94c473 !important;
    color: #fff;
    line-height: 15px;
    padding: 10px !important;
    font-family: 'Roboto', sans-serif !important;
    border: 0px !important;
}

.h5p-dataHUB-container .answer:hover {

    background-color: #fff !important;
    color: #94c473;
    border: 1px solid #94c473 !important;
}

.h5p-dataHUB-container .animation {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.h5p-dataHUB-container .animation-active {
    left: -634px;
}

.h5p-dataHUB-container .resultView .resultWrapper {

    font-size: 13px;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    width: 536px;
}

.h5p-dataHUB-container .resultView .resultAnswer {

    margin: 0px 10px 5px 0;
    min-width: 100%;
}

.h5p-dataHUB-container .resultView .resultBar {

    background: #94c473;
    height: 20px;
}

.h5p-dataHUB-container .resultView .label {

    font-size: 13px;
    margin-left: 10px;
    text-align: left;
    height: 20px;
    line-height: 20px;
}

.h5p-dataHUB-container .resultView .totalCount {

    font-size: 13px;
    text-align: right;
    font-weight: bold;
    margin: 5px 16px 0 0;
}

.inactive {
    display: none !important;
}

.h5p-iframe .h5p-frame ul.h5p-actions {
    display: none !important;
}

